# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# tests/linter
black
coverage
flake8
pytest
yapf

#Web stuff
streamlit==1.9.0
protobuf==3.20.3

#API stuff
requests

#music stuff
pretty_midi
pyFluidSynth
scipy
music21
midi2audio
fluidsynth
